.cadastro{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #000;
    width: 100%;
    margin: 5rem;
    border-radius: 10px;
    background-color: #1e2425;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro h1{
    color: #9f22d4;
    text-align: center;
    font-size: 50px;
}

.cadastro-conteudo {
    width: 50%;
}

.cadastro-conteudo form{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-ct input{
    width: 280px;
    padding: .4rem .7rem;
    border-radius: 5px;
    border: 2px solid #9f22d4;
    outline: none;
    font-weight: 600;
    margin-bottom: .5rem;
}

.input-ct label{
    color: #9f22d4;
    font-weight: 600;
}

.botoes{
    margin-top: .5rem;
}

.botoes button{
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: .3s;
}

.botoes button:hover{
    opacity: .8;
}

.enviar{
    background-color: #006400;
    color: #fff;
}

.resetar{
    background-color: #ff9933;
    color: #000;
}

.msg-succ{
    color: green;
}

.msg-err{
    color: red;
}